.checkout-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 120vh;
}
.checkout-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checkout-text {
  font-size: 24px;
  font-weight: 600;
}
.order-summery {
  font-size: 14px;
  font-weight: 400;
  color: #3068fe;
}
.title {
  font-size: 34px;
  font-weight: 600;
}
.bottom-padding {
  padding-bottom: 20px;
}

.warning-text {
  height: 80px;
}
.submit-column {
  margin-top: 40px;
  align-self: end;
  width: 400px;
}
.order-button {
  width: 100%;

  height: 40px;
  background-color: #306fda;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  color: whitesmoke;
}
.column {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.top-title {
  font-size: 16px;
  font-weight: 600;
}
.second-title {
  font-size: 14px;
  font-weight: 600;
}
.third-title {
  font-size: 12px;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 18px;
    font-weight: 600;
  }
  .top-title {
    font-size: 14px;
    font-weight: 600;
  }
  .second-title {
    font-size: 12px;
    font-weight: 600;
  }
  .submit-column {
    margin-top: 40px;
    align-self: center;
    width: 80%;
  }
}
