.container{

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(160deg, #23C6CD,#1A74AE, #1C2560);
    height: 100vh;
}
.container img{
    height: 300px;
    width: 300px;
}